/* font-family: "Geometria"; */
@font-face { font-family: "Geometria"; src: url("../fonts/Geometria/Geometria.eot"); src: url("../fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "Geometria-Medium"; */
@font-face { font-family: "Geometria"; src: url("../fonts/Geometria-Medium/Geometria-Medium.eot"); src: url("../fonts/Geometria-Medium/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium/Geometria-Medium.ttf") format("truetype"); font-style: normal; font-weight: 500; }
/* font-family: "Geometria-Bold"; */
@font-face { font-family: "Geometria"; src: url("../fonts/Geometria-Bold/Geometria-Bold.eot"); src: url("../fonts/Geometria-Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold/Geometria-Bold.ttf") format("truetype"); font-style: normal; font-weight: 700; }
/* font-family: "Geometria-ExtraBold"; */
@font-face { font-family: "Geometria"; src: url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.eot"); src: url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.ttf") format("truetype"); font-style: normal; font-weight: 900; }

html { min-height: 100vh; }

body { font-family: 'Geometria', sans-serif; font-size: 14px; background: #fff; color: #000; min-height: 100vh; }

img { max-width: 100%; height: auto; }

input:focus, button:focus {
	box-shadow: none;
	outline: 0;
}

@media(min-width: 1200px){
    .container {max-width: 1170px;}
}
h2{
	color: #ff0000;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

/*header*/
header {
	padding: 49px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.h-menu {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	justify-content: space-between;
}
.h-menu li {
	margin-bottom: 15px;
	padding: 0px 15px;
}
.h-menu li a {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 1px 2px rgb(41, 41, 41);
}
.h-menu li a:hover {
	color: #f00;
	text-decoration: none;
}
/*header*/

/*main-sec*/
.main-sec {
	padding-top: 135px;
	background: url('../img/main-back_01.jpg')no-repeat 50% 0%;
}
/*main-sec*/

/*main*/
.main {
	padding-bottom: 42px;
}
.main-img {
	text-align: center;
	margin-top: 145px;
	margin-bottom: 28px;
}

.main-txt {
	font-size: 27px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 1px 2px rgb(41, 41, 41);
	line-height: 1.3;
	margin-bottom: 18px;
}

.main-btn a {
	background: #f00;
	background: linear-gradient(to right, #fd4e4e, #ba0303);
	display: inline-block;
	width: 100%;
	max-width: 206px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	padding: 14px 10px;
	border-bottom: 2px solid #d60101;
}
.main-btn a:hover {
	background: linear-gradient(to right, #ba0303, #fd4e4e);
	text-decoration: none;
}
.main-soc {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 118px;
}

.main-soc a {
	margin: 0 10px;
}

.main-soc a img {
	width: 30px;
	height: 30px;
}
@media(min-width: 1200px){
	.main .container {
		max-width: 894px;
	}
}
/*main*/

/*sec*/
.sec {
	padding: 57px 0;
}
.sec h2 {
	margin-bottom: 38px;
}
.sec-txt {
	font-size: 18px;
}
.sec-txt p {
	margin-bottom: 27px;
}

@media(min-width: 1200px){
	.sec .container {
		max-width: 1056px;
	}
}
/*sec*/

/*photos*/
.photos {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
}
.photos h2 {
	margin-bottom: 48px;
	width: 100%;
}
.photos-col {
	width: 33.3%;
}
.photos-col a {
	display: block;
}
@media(max-width: 600px){
	.photos-col {
		width: 100%;
	}
}
/*photos*/

/*hvboard*/
.hvboard {
	padding-top: 25px;
}
.hvboard-ttl{
	padding-bottom: 50px;
}

.hvboard-txt{
	font-size: 18px;
	color: #000000;
}
@media(min-width: 1200px){
	.hvboard .container {
		max-width: 1056px;
	}
}
/*hvboard*/

.price{
	background: url('../img/price-back.png')no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 70px;
}

.price-ttl{
	margin-top: 112px;
	padding-bottom: 20px;
}
.price-ttl2{
	font-size: 15px;
	text-align: center;
	padding-bottom: 80px;
}

.price-bl{
	text-align: center;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 46px;
	position: relative;
	max-width: 270px;
	padding-top: 45px;
	padding-bottom: 35px;
}
.price-bl:before{
	content: '';
	background: url('../img/price-top.png')no-repeat 50% 100%;
	height: 46px;
	width: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: block;
	top: -46px;
	left: 0;
	position: absolute;
}

.price-bl-txt1{
	font-size: 17px;
	text-align: center;
}
.price-bl-txt2{
	font-weight: 900;
	font-size: 17px;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 15px;
}
.price-pr1{
	font-size: 23px;
	font-weight: 900;
	color: #bdbdbd;
	text-align: center;
	margin-top: 20px;
}

.price-pr2{
	font-size: 25px;
	font-weight: 900;
	color: #ff0000;
	text-align: center;
}

.price-butt{
	display: inline-block;
  background: #e40303;
  color: #fff;
  padding: 9px 21px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 14.46px;
  text-align: center;
  margin-top: 35px;
	width: 100%;
	max-width: 209px;
	padding: 16px 10px;
}
.price-butt:hover{
	background: #f00;
	color: #fff;
	text-decoration: none;
}

/*videos*/
.videos {
	padding-top: 14px;
	padding-bottom: 91px;
}

.videos h2 {
	margin-bottom: 57px;
}
.videos-row {
	display: flex;
}
.videos-more {
	background: #f00;
	background: linear-gradient(to right, #fd4e4e, #ba0303);
	display: block;
	width: 100%;
	max-width: 206px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	padding: 14px 10px;
	border-bottom: 2px solid #d60101;
	margin: 43px auto 0;
}
.videos-more:hover {
	background: linear-gradient(to right, #ba0303, #fd4e4e);
	text-decoration: none;
	color: #fff;
}
/*videos*/

/*quest*/
.quest {
	margin-top: -62px;
	position: relative;
	z-index: 2;
	padding-bottom: 60px;
}
.quest-form {
	margin: 0 auto;
	max-width: 1056px;
	box-shadow: 0px 8px 32px 12px rgba(0,0,0,0.15);
	background: #fff;
	padding-bottom: 38px;
}
.quest-form-wrap {
	margin: 0 auto;
	max-width: 566px;
	padding-top: 40px;
}
.quest-ttl {
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 34px;
}
.quest-form-input {
	margin-bottom: 29px;
	position: relative;
}
.quest-form-input label {
	font-size: 16px;
	margin-bottom: 30px;
	color: #adadad;
}
.quest-form-input input {
	border: 0;
	border-bottom: 2px solid #e5e0df;
	width: 100%;
	padding: 0 25px 0 10px;
}
.quest-form-btn {
	margin-bottom: 22px;
}
.quest-form-btn button {
	background: #f00;
	border: 0;
	background: linear-gradient(to right, #fd4e4e, #ba0303);
	display: block;
	width: 100%;
	max-width: 206px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	padding: 14px 10px;
	border-bottom: 2px solid #d60101;
	cursor: pointer;
}
.quest-form-btn button:hover {
	background: linear-gradient(to right, #ba0303, #fd4e4e);
	text-decoration: none;
}
.quest-form-chck input {
	display: none;
}
.quest-form-chck label {
	cursor: pointer;
	font-size: 10px;
	color: #b1b1b1;
}
.quest-form-chck span {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #e5e0df;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
}
.quest-form-chck input:checked + label span {
	background: #f00;
}
/*quest*/

/*contacts*/

.contacts {
	padding-top: 42px;
}
.contacts h2 {
	margin-bottom: 44px;
}
.contacts-wrap {
	margin: 0 auto;
	max-width: 1056px;
	box-shadow: 0px 8px 32px 12px rgba(0,0,0,0.15);
	background: #fff;
	padding-bottom: 38px;
	padding: 89px 50px;
	z-index: 2;
	position: relative;
}
.contacts-wrap-bl {
	margin-bottom: 15px;
}
.contacts-wrap-bl-ttl {
	color: #b1b1b1;
	margin-bottom: 16px;
}
.contacts-wrap-bl-adr {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 11px;
}
.contacts-wrap-bl-url {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 11px;
}
.contacts-wrap-bl-url a {
	color: #000;
}
.contacts-wrap-bl-url a:hover {
	text-decoration: none;
	color: #f00;
}

.contacts-wrap-bl-soc a {
	margin: 0 10px;
}

.contacts-wrap-bl-soc a img {
	width: 30px;
	height: 30px;
}
.map {
	margin-top: -160px;
}
/*contacts*/

@media(max-width: 991px){
	.contacts-wrap {
		padding: 30px 20px;
	}

	.quest-form-wrap {
		padding: 40px 20px;
	}

	.h-menu {
		justify-content: center;
	}
}